<ion-header>

    <ion-navbar>
        <ion-title>找回密码</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="f_psw_panel">

    <!--步骤1-->
    <div *ngIf="pageIndex==1">
        <!--<input type="text" placeholder="请输入您的手机号" class="tel_input" [(ngModel)]="mobile"/>-->
        <ion-item mode="ios" class="tel_input"  no-lines>
            <ion-input placeholder="请输入您的手机号" [(ngModel)]="mobile" clearInput mode="ios"></ion-input>
        </ion-item>

        <div class="btn_block_yellow" (click)="check_mobile()" tappable>下一步</div>
    </div>
    <!--步骤2-->
    <div *ngIf="pageIndex==2">
        <div class="text-center">
            <p class="p1">验证您的手机号</p>
            <h2 class="h2">{{mobile}}</h2>
        </div>
        <div class="code_wrap relative">
            <!--<input type="text" placeholder="短信验证码" class="tel_input" [(ngModel)]="userCode"/>-->
            <ion-item  mode="ios" class="tel_input"  no-lines>
                <ion-input placeholder="短信验证码" [(ngModel)]="userCode" clearInput mode="ios"></ion-input>
            </ion-item>
            <div class="code_panel" *ngIf="reSendTime<=0" (click)="reSendCode()" tappable>获取验证码</div>
            <div class="code_panel" *ngIf="reSendTime>0">{{reSendTime}}秒</div>
        </div>
        <div class="btn_block_yellow" (click)="check_code()" tappable>下一步</div>
    </div>
    <!--最后一步-->
    <div *ngIf="pageIndex==3">
        <div class="f_final">
            <ion-item  mode="ios" class="tel_input"  no-lines>
                <ion-input  placeholder="输入新密码" [(ngModel)]="newPassword1" clearInput mode="ios"></ion-input>
            </ion-item>
            <ion-item  mode="ios" class="tel_input"  no-lines>
                <ion-input placeholder="确认密码" [(ngModel)]="newPassword2" clearInput mode="ios"></ion-input>
            </ion-item>
            <!--<input type="text" placeholder="输入新密码" class="tel_input" [(ngModel)]="newPassword1"/>-->
            <!--<input type="text" placeholder="确认密码" class="tel_input" [(ngModel)]="newPassword2"/>-->
        </div>
        <div class="btn_block_yellow" (click)="setNewPassword()" tappable>确认</div>
    </div>

</ion-content>
