page-tracking-list {
 .item-input-inset .toolbar-content{background: white;border-radius: 4px;margin: 0 10px;text-align: center;}

.subheader{position: absolute;width: 100%;background: white;top:44px;}


  //排序
  .png_sjx img{width: 10px;vertical-align: -2px;}


}
