<!--进入管理台首页-->
<ion-view >
    <ion-content class="manege_panel">
        <div class="manege_head">
            <p>伍丽，您好。</p>
            <p>以下是您今日计划表：</p>
        </div>
        <ul class="manege_content">
            <li class="manege_cont_icon1" ng-click="fillLog()">今日待跟踪的会员<span class="fr">36人</span></li>
            <li class="manege_cont_icon2" ng-click="overUse()">明日可能需要跟踪的会员<span class="fr">36人</span></li>
        </ul>
    </ion-content>
    <ul class="jt_panel">
        <li><img src="img/jt.png"/></li>
        <li><img src="img/jt.png"/></li>
        <li><img src="img/jt.png"/></li>
    </ul>
    <div class="btn_block_yellow footer" ng-click="track()">好的，马上开始跟踪</div>
</ion-view>

<!--使用已到期弹窗-->
<!--<div class="pop_panel flex_ul flex_center hide">-->
    <!--<div class="PopContent">-->
        <!--<div class="content_img"><img src="img/use_over.png" class="img"/></div>-->
        <!--<div class="oT_content">-->
            <!--<h2 class="h2">使用已到期！</h2>-->
            <!--<p class="p1">请联系管理员续费客满分，以便及时跟踪。</p>-->
        <!--</div>-->
        <!--<div class="pop_btn">好的</div>-->
    <!--</div>-->
<!--</div>-->

<!--版本更新-->
<div class="pop_panel flex_ul flex_center " >
    <div class="PopContent">
        <div class="setup_img">
            <img src="img/setup.png" class="img"/>
            <p class="content">1.0.X版本更新</p>
        </div>
        <div class="setup_content">
            <h2 class="h2">更新内容</h2>
           <ul>
               <li class="first_letter">
                   1.家乐福骄傲了房间爱立方骄傲了房间爱立方骄傲了加粉快垃圾分类骄傲了房间爱立方
               </li>
               <li class="first_letter">
                   1.家乐福骄傲了房间爱立方骄傲了房间爱立方骄傲了加粉快垃圾分类骄傲了房间爱立方
               </li>
               <li class="first_letter">
                   1.家乐福骄傲了房间爱立方骄傲了房间爱立方骄傲了加粉快垃圾分类骄傲了房间爱立方
               </li>
           </ul>
        </div>
        <ul class="flex_ul flex_center tip_confirm_btn text-center">
            <li class="text_grey_80" >暂不更新</li>
            <li class="yellow ng-binding">立即更新</li>
        </ul>
    </div>
</div>