<ion-view>
    <ion-content id='login_panel' >
        <article class="login_logo"></article>
        <article>
            <ul class="login_form">
                <li class="id"><input type="text" placeholder="手机号" id="username" /><clear-input control-id="username"  class='clearInput_display'></clear-input></li>
                <li class="psw"><input type="password" placeholder="密码" id="password" /><clear-input control-id="password" class='clearInput_display'></clear-input></li>
                <li class="margin_top_23"><button class="login_btn" ng-click="goLogin()">登录</button></li>
                <li class="text-center">忘记密码？</li>
            </ul>
        </article>
        <div class="userAgreement" ng-click="net_erro()">查看用户协议</div>
    </ion-content>
</ion-view>
