/*ÃƒÂ¥Ã¢â‚¬Â¦Ã‚Â¬ÃƒÂ¥Ã¢â‚¬Â¦Ã‚Â±ÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã‚Â¼Ã‚Â*/
*{font-family:"Microsoft YaHei";color: #4c4c4c;}
input,textarea{font-family:"Microsoft YaHei";}
.scroll_x{overflow-x:scroll;/* width: 100%; */}
.head_f_white *{color: white;}


/*flex 布局*/
.flex_ul{display: -webkit-box;  display: -webkit-flex;  display: -ms-flexbox; display: flex;}
.flex_center{-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;}
.flex_ul li{-webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1;flex: 1;}



.inline_block_ul li{display:inline-block;}

.table_cell{display: table-cell}

.middle{vertical-align: middle;}
.fr{float:right;}
.fl{float: left;}
.relative{position:relative;}
.absolute_width{position: absolute;left:0;right: 0;z-index: 3;}

.absolute{position: absolute;}
.hide{display: none;}
.footer{position: absolute;left:0;right: 0;bottom: 0;}
/*宽度*/
.w_100{width: 100%;}

.padding_b_010 {padding-bottom: 10%;}
.p_tb_10{padding: 10px 0;}
.p_tb_20{padding: 20px 0;}

.mb_0{margin-bottom: 0;}
.m_t_10{margin-top:10px;}
.m_t_15{margin-top:15px;}

/*border*/
.border_b_s{border-bottom: 1px solid #F5F5F5;}
.border_b{border-bottom: 1px solid #E6E6E6!important;}
.border_b:last-child{border-width: 0;}



.grey_bg{background:#F5F5F5;}
.white_bg{background:white;}
.text_red{color:#FB0C0C; }
.white{color: white!important;}
.yellow{color:#F39800!important; }
.color_99{color:#999999; }
.text_grey_80{color:#808080; }

/*画三角形*/
.draw_sjx{width: 0;height: 0;border-width:5px;border-style:solid;border-color:#999999 transparent transparent transparent;display: inline-block;vertical-align: sub;margin-left:6px;-webkit-transition: -webkit-transform 0.1s;transition: transform 0.1s;}
.active .draw_sjx{border-color:#F39800 transparent transparent transparent;-webkit-transform: rotate(180deg);transform: rotate(180deg);vertical-align: 1px;}

/*btn*/
.small_red_btn,.small_yellow_btn{color: white;font-size: 14px;padding:4px 10px;margin-left:5px;border-radius:16px;display: inline-block; }
.small_red_btn{background:#F05C5C;}
.small_yellow_btn{background:#F39800; }
.btn_block_yellow,.btn_block_grey{text-align: center;padding: 20px 0;font-size: 18px;}
.btn_block_yellow{background:#F39800;color:white;}
.btn_block_grey{background:#CCCCCC;color:#585858;}
.btn_free,.btn_normal,.btn_track{width: 90%;color: white;border-radius: 5px;}
.btn_free{background:#F39800;margin:25px auto 15px;}
.btn_normal{background:#FFC000;margin:auto;}
.btn_track{background:#E6E6E6;color:#6E6E6E;line-height: normal;padding: 10px 0;font-weight: bold;margin:15px auto 25px;}
.btn_track small{color:#7A7A7A;font-size: 12px;font-weight: normal; }
.btn_cancel{color:#9F9F9F;vertical-align: 2px;}
.s_r_btn{border:1px solid #999999;padding: 3px 10px;color:#363636;border-radius:7px;font-size:15px; }

.tip_confirm_btn{margin-top:10px;/* overflow: hidden; */}
.tip_confirm_btn li{border: 1px solid #ededed;padding: 16px;font-size: 17px;}

/*ÃƒÂ¥Ã‚Â¼Ã‚Â¹ÃƒÂ§Ã‚ÂªÃ¢â‚¬â€ÃƒÂ¦Ã‚Â Ã‚Â·ÃƒÂ¥Ã‚Â¼Ã‚Â*/
/*ÃƒÂ¥Ã¢â‚¬ÂºÃ‚Â¾ÃƒÂ§Ã¢â‚¬Â°Ã¢â‚¬Â¡ÃƒÂ¥Ã¢â‚¬Â¡Ã‚Â¸ÃƒÂ¥Ã¢â‚¬Â¡Ã‚ÂºÃƒÂ¦Ã‚ÂÃ‚Â¥*/
.pop_panel{width: 100%;height:100%;background:rgba(0,0,0,0.5);position: fixed;z-index: 10;}
.pop_panel *{font-family: "Microsoft YaHei";}
.max-content {width: -webkit-max-content;width: -moz-max-content;width: max-content;}
.PopContent,.PopContent_c{background: white;border-radius:5px;max-width: 90%;}
.PopContent_c{overflow: hidden;}
.content_img{text-align: center;margin-top: -39px;}
.content_img .img{width:90px;}
.pop_btn{padding: 15px 0;text-align: center;color:#F4A024;font-size: 18px;border-top:1px solid #E7E7E7;}

/*ÃƒÂ¥Ã¢â‚¬ÂºÃ‚Â¾ÃƒÂ§Ã¢â‚¬Â°Ã¢â‚¬Â¡ÃƒÂ¤Ã‚Â¸Ã‚ÂÃƒÂ¥Ã¢â‚¬Â¡Ã‚Â¸ÃƒÂ¥Ã¢â‚¬Â¡Ã‚ÂºÃƒÂ¦Ã‚ÂÃ‚Â¥*/
.warm_tip .img{width:50px;padding-top: 15px; }
.oT_content .p_tip{font-size: 16px;padding: 14px 3px;text-align: justify;}


/*ladding*/
/*loadÃƒÂ¦Ã¢â‚¬â€Ã¢â‚¬Â¹ÃƒÂ¨Ã‚Â½Ã‚Â¬*/
.loadding{animation: load 1s infinite step-start both;}
.load_text{font-size: 12px;position: absolute;margin-top: -63px;margin-left: 10px;}
@keyframes load { 0% { transform:rotate(0deg) ; } 20% { transform:rotate(90deg) ; } 40% { transform: rotate(180deg); } 60% { transform: rotate(270deg); } 80% { transform: rotate(360deg); }}

/*loadÃƒÂ¦Ã¢â‚¬Â°Ã¢â‚¬Å“ÃƒÂ§Ã¢â‚¬Å¡Ã‚Â¹*/
.dot {display: inline-block; height: 1em; line-height: 1;  text-align: left;  vertical-align: -.25em;  overflow: hidden;}
.dot::before { display: block; content: '...\A..\A.'; white-space: pre-wrap; animation: dot 3s infinite step-start both; }
@keyframes dot { 33% { transform: translateY(-2em); } 66% { transform: translateY(-1em); }}

/*itemÃƒÂ¥Ã‹â€ Ã¢â‚¬â€ÃƒÂ¨Ã‚Â¡Ã‚Â¨ÃƒÂ©Ã‚Â¢Ã…â€œÃƒÂ¨Ã¢â‚¬Â°Ã‚Â²ÃƒÂ¥Ã‚ÂÃ‹Å“ÃƒÂ¦Ã‚ÂµÃ¢â‚¬Â¦ÃƒÂ¨Ã¢â‚¬Â°Ã‚Â²*/
.list_g_b .item{border:1px solid #F5F5F5;color:#858585; }
/*.list_g_b .item span{color:#858585; }*/
.list_g_b .icon{color: #8d8a8a;font-size: 26px;}
