/*修改ionic样式*/
.bar-header{background:#F39800; }

/*tab脚底*/
.kmf_tab .tab-item .icon{height: 30px;}
.kmf_tab .tabs{background-size:0;border-top:1px solid #E6E6E6!important;z-index:4;}
.ion_desk_off:before{background: url(../img/desk_off.png);}
.ion_desk_on:before{background: url(../img/desk_on.png);}
.ion_mine_off:before{background: url(../img/mine_off.png);}
.ion_mine_on:before{background: url(../img/mine_on.png);}
.ion_desk_on:before,.ion_desk_off:before,.ion_mine_off:before,.ion_mine_on:before
{ content: "";  background-size:100%;  display: inline-block;  height: 27px;  width: 27px;}

/*修改上拉弹窗*/
 .action-sheet .button{border-color:transparent;}

 /*toggle样式变化*/
/*.guide_tg .toggle .track{width: 66px;}*/
/*.guide_tg  .toggle input:checked + .track .handle {-webkit-transform: translate3d(35px, 0, 0);transform: translate3d(35px, 0, 0);}*/
/*.guide_tg .toggle input:checked + .track {border-color:#F39800;background-color: #F39800;}*/

.mbsc-sc-whl-gr-c{width: 100%;}
.mbsc-ios .mbsc-sc-itm-sel .mbsc-dt-month{color:#F39800; }