<!--会员详情-->
<ion-view class="grey_bg">
    <ion-header-bar  class="head_f_white" ng-include="'templates/mine/head.html'"></ion-header-bar>
    <div class="relative has-header md_subhead padding">
        <ul class="table_cell">
            <li>2016-08-23 需跟踪，今日待跟踪</li>
            <li>8天前跟踪过，跟踪后未购买</li>
        </ul>
        <div class="table_cell text-right middle" ng-click="call()">
            <img src="" class="img" ng-src="{{ Tel_input ? 'img/tel.png' : 'img/non_tel.png'}}"/>
        </div>
    </div>
    <ion-content  style="top:121px;" delegate-handle="record">
       <!--筛选-->
        <ul class="white_bg m_details_track">
            <li  ng-click="manageWay()">管理方式<span class="fr">{{manege.manageWay}}<i class="icon ion-ios-arrow-right"></i></span></li>
            <li ng-click="if_track()" >是否可跟踪<span class="fr">{{manege.track}}<i class="icon ion-ios-arrow-right"></i></span></li>
            <li ng-click="next_track()">下次跟踪时间
                <span class="fr">
                    <!--选择跟踪时间-->
                    <span ng-if="!manege.canTrack">--</span>
                    <span ng-if="manege.canTrack" ng-click="select_n_time()">{{pickedDate |date: 'yyyy-MM-dd'}}</span>
                    <i class="icon ion-ios-arrow-right"></i>
                </span>
            </li>
        </ul>
        <!--会员画像-->
        <div class=" ">
            <div class="bg_left m_draw md_head " >会员画像</div>
            <!--direction="x" 这个一定要写，不然在无法滚动-->
            <ion-scroll  direction="x" scrollbar-x='false'>
                <div class="white_bg padding  draw_scroll">
                    <ul class="m_draw_content">
                        <li>ta喜欢的类型<span class="fr">待定</span></li>
                        <li>ta喜欢的品牌<span class="fr">爱他美</span></li>
                        <li>总消费金额 <span class="fr">3999.1元</span></li>
                        <li>总购买次数<span class="fr">5次</span></li>
                        <li>客单价<span class="fr">800.2元</span></li>
                    </ul>
                    <ul class="m_draw_content">
                        <li>最近消费时间：<span class="fr">2016-05-19</span></li>
                        <li>距上次消费天数：<span class="fr">89天</span></li>
                        <li>最近消费： <span class="fr">5件，506.2元</span></li>
                        <li>本月购买频次：<span class="fr">5次</span></li>
                        <li class="text-right"><a ng-click="go_record()" class="yellow">查看具体消费</a></li>
                    </ul>
                </div>
            </ion-scroll>
        </div>
        <!--消费结构-->
        <div class="white_bg ">
            <!--消费结构--选择-->
           <ul class="flex_ul head_flex">
               <li class="active">总消费结构</li>
               <li>上次消费结构</li>
               <li>购买频次</li>
           </ul>
            <!--消费图表-->
            <div >
                <ng-echarts ng-style="{ 'width' : width, 'height' : height }" ec-config="config" ec-option="option"></ng-echarts>
            </div>
            <!--消费记录-->
            <div class="padding" id="buyRecord">
                <header class="bg_left consume_bg">消费记录</header>
                <!--有多条消费记录-->
                <div class="hide">
                    <!--具体记录-->
                    <ul class="detail_record">
                        <li>爽然蓝柑橘超级薄纸尿裤（M36）<span class="fr">4</span></li>
                        <li>07-31 11:35 周日</li>
                    </ul>
                    <!--具体记录-->
                    <ul class="detail_record">
                        <li>爽然蓝柑橘超级薄纸尿裤（M36）<span class="fr">4</span></li>
                        <li>07-31 11:35 周日</li>
                    </ul>
                    <!--加载更多-->
                    <div class="text-center click_more">点击加载更多</div>
                </div>
                <!--暂无消费记录-->
                <div class="white_bg text-center non_log ">
                    <p><img src="img/non_record.png" class="img"/></p>
                    <p class="color_99">暂无消费记录</p>
                </div>


            </div>
        </div>
        <!--会员跟踪效果-->
        <div>
            <header class="bg_left m_track_bg md_head">会员跟踪效果</header>
            <!--效果图表-->
            <div class="white_bg">
                <ng-echarts ng-style="{ 'width' : width1, 'height' : height1 }" ec-config="config1" ec-option="option1"></ng-echarts>
            </div>
            <!--日志选择-->
            <ul class="white_bg flex_ul head_flex">
                <li class="active">跟踪日志</li>
                <li>操作日志</li>
            </ul>
            <!--跟踪日志-->
            <div class="white_bg padding">
                <!--具体跟踪信息-->
                <div class="border_b">
                    <div class="text_grey_80">09-14 &nbsp;&nbsp;11:35 周日&nbsp;&nbsp;吴丽<span class="fr text_red">未联系上</span></div>
                    <ul class="track_log_content">
                        <li class="li_4">免费电话，联系上</li>
                        <li class="li_5">普通电话，未联系上</li>
                        <!--音频-->
                        <li class="li_6">
                        <span class="audio_border" ng-click="audioplay1(customer)">
                            <img class="img icon_play" ng-src="img/play.png" src="img/play.png">
                        </span>
                            <span class="audio_duration">NaN:NaN"</span>
                        </li>
                        <li class="li_1">家里还有5罐奶粉，夏天纸尿裤用少了</li>
                        <li class="li_2">吴丽将该会员的下次跟踪时间人工指定到09-28</li>
                        <li class="li_3">跟踪后已购买
                            <span class="fr people_buy view_less">查看购买</span>
                        </li>
                    </ul>
                </div>
                <!--购买信息-->
                <section class="log_detail_content">
                    <h2 class="head ng-binding">消费时间：10-10 &nbsp;&nbsp;18:58&nbsp;&nbsp;总消费金额：￥50</h2>
                    <table class="logTrack_table">
                        <thead>
                        <tr>
                            <th>商品</th>
                            <th>数量</th>
                            <th>金额</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="ng-binding">爱德哺标口自动PP奶瓶260ml</td>
                            <td class="ng-binding">1</td>
                            <td class="ng-binding">￥50</td>
                        </tr>
                        </tbody>
                    </table>
                </section>
                <!--点击加载更多-->
                <div class="text-center text_grey_80 padding">点击加载更多</div>
            </div>
            <!--暂无跟踪日志-->
            <div class="white_bg text-center non_log hide">
                <p><img src="img/no_trak.png" class="img"/></p>
                <p class="color_99">暂无跟踪日志</p>
            </div>
            <!--操作日志-->
            <div class="white_bg padding hide">
                <!--具体操作日志-->
                <div class="border_b padding">
                    <p class="text_grey_80">09-14 &nbsp;&nbsp;11:35 周日&nbsp;&nbsp;吴丽<span class="fr text_red">未联系上</span></p>
                    <div>管理员 陈店长 将会员 张三丰 从 刘备 分配给 伍丽负责跟踪</div>
                </div>
                <!--具体操作日志-->
                <div class="border_b padding">
                    <p class="text_grey_80">09-14 &nbsp;&nbsp;11:35 周日&nbsp;&nbsp;吴丽<span class="fr text_red">未联系上</span></p>
                    <div>管理员 陈店长 将会员 张三丰 从 刘备 分配给 伍丽负责跟踪</div>
                </div>

            </div>
            <!--点击加载更多-->
            <div class="text-center text_grey_80 padding grey_bg">点击加载更多</div>
        </div>

    </ion-content>
</ion-view>

<!--人工管理时，修改为可跟踪的下次跟踪时间-->
<div class="pop_panel flex_ul flex_center" ng-show="n_track">
    <div class="PopContent_c text-center">
        <div class="warm_tip"><img src="img/warm.png" class="img"></div>
        <div class="oT_content"> <div class="p_tip" >您正在讲该会员修改为可跟踪，<br>下次跟踪时间为：{{pickedDate |date: 'yyyy-MM-dd'}}</div>
            <input type="text" class="yellow time_input" ng-model="pickedDate" mobiscroll-date="datePickerSettings" mobiscroll-instance="datePicker" ng-show="false"/>
            <div  ng-click="close()">
                <div class="m_d_s_time" ng-click="datePicker.show()">我要重新定个时间</div>
            </div>
        </div>
        <ul class="flex_ul flex_center tip_confirm_btn" ng-click="close()">
            <li class="text_grey_80">取消</li>
            <li class="yellow ng-binding">确定</li>
        </ul>
    </div>
</div>