<ion-view class="grey_bg search_panel">
    <!--搜索框-->
    <ion-header-bar  class="item-input-inset search_input">
        <button class="button button-clear"><i class="icon ion-ios-arrow-left"></i></button>
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="搜索" class="s_input" value="张三" />
        </label>
        <button class="button button-clear white">取消</button>
    </ion-header-bar>
    <ion-content class="has-header search_content">
        <!--搜索到记录-->
        <div class="hide">
            <!--搜索到的会员-->
            <div >
                <p class="padding mb_0">共搜到会员 2 名</p>
                <div class="white_bg padding">
                    <!--具体搜索到的会员-->
                    <div class="search_member border_b">
                        <h2 class="search_title"><span class="yellow">张三</span>丰</h2>
                        <p>2016-08-23 需跟踪，今日待跟踪</p>
                        <p>8天前跟踪过，跟踪后未购买</p>
                    </div>
                    <!--具体搜索到的会员-->
                    <div class=" search_member border_b">
                        <h2 class="search_title">张三丰</h2>
                        <p>2016-08-23 需跟踪，今日待跟踪</p>
                        <p>8天前跟踪过，跟踪后未购买</p>
                    </div>
                </div>
            </div>
            <!--搜到日志-->
            <div>
                <p class="padding mb_0">共搜到日志 5 篇</p>
                <div class="white_bg padding">
                    <!--具体搜索到的日志-->
                    <div class=" border_b p_tb_10">
                        <h2 class="search_title">郑秀英</h2>
                        <p>有买奶粉跟尿裤这个宝宝奶量挺大的，现在吃美赞有点可惜，奶粉才买没吃完，<span class="yellow">张三</span>对于这个相当满意，表示过两天会来买。</p>
                        <p class="text-right">2016-08-22</p>
                    </div>
                    <!--具体搜索到的日志-->
                    <div class=" border_b p_tb_10">
                        <h2 class="search_title">郑秀英</h2>
                        <p>有买奶粉跟尿裤这个宝宝奶量挺大的，现在吃美赞有点可惜，奶粉才买没吃完，张三对于这个相当满意，表示过两天会来买。</p>
                        <p class="text-right">2016-08-22</p>
                    </div>
                </div>
            </div>

        </div>

        <!--暂无记录-->
        <div class=" s_pic_center hide">
            <img src="img/search_no.png" class="img"/>
            <p>努力搜索，暂无记录</p>
        </div>

        <div class="load_panel">
            <div >
                <img src="img/loadding.png" class="loadding w_100"/>
                <div class="load_text">努力加载中<dot class="dot"></dot></div>
            </div>
        </div>


    </ion-content>
</ion-view>