<!--设置-->
<ion-view class="grey_bg">
    <ion-header-bar  class="white_head border_b_s" ng-include="'templates/mine/head.html'"></ion-header-bar>
    <ion-content class="has-header">
        <ion-list class="list_g_b">
            <ion-item class="item-input item">
                <span class="input-label">原密码：</span>
                <input type="password" placeholder="请输入原密码"/>
            </ion-item>
            <ion-item class="item-input item">
                <span class="input-label">新密码：</span>
                <input type="password"  placeholder="请输入新密码，6-20位"/>
            </ion-item>
            <ion-item class="item-input item">
                <span class="input-label">确认密码：</span>
                <input type="password"  placeholder="请确认新密码"/>
            </ion-item>
        </ion-list>
        <div class="setting_btn">
            <div class="btn_block_yellow">确定</div>
        </div>

    </ion-content>
  </ion-view>