<!--设置-->
<ion-view class="grey_bg">
    <ion-header-bar  class="white_head border_b_s" ng-include="'templates/mine/head.html'"></ion-header-bar>
    <ion-content class="has-header">
        <ion-list class="list_g_b">
            <ion-item class="item-icon-right item" ng-click="go_version()">
                版本信息
                <span class="fr yellow">检测到新版本</span>
                <a class="icon ion-ios-arrow-right"></a>
            </ion-item>
            <ion-item class="item-icon-right item" ng-click="md_pwd()">
                修改密码
                <a class="icon ion-ios-arrow-right"></a>
            </ion-item>
       </ion-list>

        <div class="setting_btn">
            <div class="btn_block_yellow">退出登录</div>
        </div>

    </ion-content>
</ion-view>