<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    header{width: 100%;height: 10%;background: green}
    section{height: 80%;background: red;}
    aside{width: 20%;height: 100%;background:yellow;float: left;}
    .div3{width:80%;height: 100%;float: left;}
</style>
<body style="margin:0;height: 708px">

    <header>头部</header>
    <aside>
        <div class="div2">侧边栏</div>
    </aside>
    <section>
        <div class="div3">主体</div>
    </section>

</body>
</html>