<!--
  Generated template for the LogSaving page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-title>{{customer.customerName}}跟踪日志</ion-title>
  </ion-navbar>

</ion-header>

<!--跟踪日志--是否联系-->

<!--<ion-view class="grey_bg">-->
    <ion-content padding>
        <!--返回修改-->
        <div class="text-center contact_title">
            <span class="absolute" (click)="gotoBack()" tappable>
                 <!--<ion-icon name="ios-arrow-back-outline"></ion-icon>-->
                返回修改
            </span>
            {{TrackLog.isContacted == true ? '联系上' : "未联系上"}}
        </div>
        <!--联系方式-->
        <div class="w_log" *ngIf="TrackLog.contactType!=1 && TrackLog.contactType!=2">
            <p class="title">请选择联系方式</p>
            <div class="white_bg content">
                <!--<input type="text" placeholder="微信联系、QQ联系、短信联系等" class="w_100" />-->
                <div class="w_100 un_contract_bg " (click)="selectContactType()" tappable>{{contactTypeText}}<!--<span class="fr"><ion-icon name="ios-arrow-down"></ion-icon></span>--></div>
            </div>
            <div class="white_bg content padding m_t_15" *ngIf="TrackLog.contactType==10">
                <textarea placeholder="请填写其它渠道联系方式" class="w_100" [(ngModel)]="TrackLog.otherContactType"></textarea>
            </div>
        </div>
        <!--跟踪日志--联系上-->
        <div class="w_log m_t_10" *ngIf="TrackLog.isContacted">
            <p class="title">请填写跟踪日志</p>
            <div class="white_bg content">
                <textarea placeholder="请填写跟踪日志（4字以上）" class="w_100" [(ngModel)]="TrackLog.content"></textarea>
            </div>
        </div>
        <!--跟踪日志--未联系上-->
        <div class="w_log m_t_10 " *ngIf="!TrackLog.isContacted">
            <p class="title">请选择未联系上的原因</p>
            <div class="white_bg content">
                <div class="w_100 un_contract_bg " (click)="selectReason()" tappable>{{reason}}<!--<span class="fr"><ion-icon name="ios-arrow-down"></ion-icon></span>--></div>
            </div>
            <div class="white_bg content padding m_t_15" *ngIf="TrackLog.notContactReason==6">
                <textarea placeholder="请填写原因（4字以上）" class="w_100" [(ngModel)]="TrackLog.otherNotContactReason"></textarea>
            </div>
        </div>
        <!--跟踪时间-->
        <ul class="track_time padding-top">
            <li><input type="radio" id="track"  class="hide"  name="track" checked/><label class="select_track" for="track" (click)="nextAction(1)" tappable>系统智能管理跟踪时间</label></li>
            <li><input type="radio" id="man_track"  class="hide" name="track"/><label class="select_track" for="man_track"  (click)="nextAction(2)" tappable>人工指定</label>
                <span class="fr datetime-ionic"  *ngIf="manTrackTime">
                    <span class="head">下次跟踪时间：</span>
                    <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="TrackLog.nextTrackDate" min="{{TrackLog.nextTrackDate}}"
                                  max="{{maxDate}}" cancelText="取消" doneText="完成" mode="ios">
                    </ion-datetime>
                    <!--<ion-icon name="ios-arrow-forward-outline"></ion-icon>-->
                </span>
            </li>
            <li ><input type="radio"  id="un_track" class="hide" name="track"/><label class="select_track" for="un_track" (click)="nextAction(3)" tappable>不再跟踪</label></li>
        </ul>
        <div class="log_save_btn">
            <div class="btn_block_yellow" (click)="LogSave()" tappable>保存日志</div>
        </div>
    </ion-content>

<!--</ion-view>-->

<!--联系方式-->
<div class="pop_panel" *ngIf="contactTypeShow">
    <div style="-webkit-transform: translate(0%);transform: translateY(0%);" class="bottom_pop">
        <div class="U_contract_sheet">
            <header><span (click)="contactTypeShow=!contactTypeShow" tappable>取消</span><span class="fr yellow" (click)="setContactType()" tappable>完成</span></header>
            <ul>
                <li [ngClass]="contactType==3 ? 'active' : '' " (click)="contactType = 3" tappable>上门拜访</li>
                <li [ngClass]="contactType==4 ? 'active' : '' " (click)="contactType = 4" tappable>QQ</li>
                <li [ngClass]="contactType==5 ? 'active' : '' " (click)="contactType = 5" tappable>weixin微信</li>
                <li [ngClass]="contactType==6 ? 'active' : '' " (click)="contactType = 6" tappable>SMS短信</li>
                <li [ngClass]="contactType==10 ? 'active' : '' " (click)="contactType = 10" tappable>其它沟通渠道</li>
            </ul>
        </div>
    </div>

</div>

<!--未跟踪原因-->
<div class="pop_panel" *ngIf="notContactShow">
    <div style="transform: translateY(0%);-webkit-transform: translate(0%);" class="bottom_pop">
        <div class="U_contract_sheet">
            <header><span (click)="notContactShow=!notContactShow" tappable>取消</span><span class="fr yellow" (click)="setUnContactReason()" tappable>完成</span></header>
            <ul>
                <li [ngClass]="unContactReason==3 ? 'active' : '' " (click)="unContactReason = 3" tappable>停机</li>
                <li [ngClass]="unContactReason==2 ? 'active' : '' " (click)="unContactReason = 2" tappable>电话号码错误</li>
                <li [ngClass]="unContactReason==1 ? 'active' : '' " (click)="unContactReason = 1" tappable>空号</li>
                <li [ngClass]="unContactReason==4 ? 'active' : '' " (click)="unContactReason = 4" tappable>无人接听</li>
                <li [ngClass]="unContactReason==5 ? 'active' : '' " (click)="unContactReason = 5" tappable>占线</li>
                <li [ngClass]="unContactReason==6 ? 'active' : '' " (click)="unContactReason = 6" tappable>其他</li>
            </ul>
        </div>
    </div>

</div>

<!--人工指定，下次跟踪时间-->
<!--<div class="pop_panel flex_ul flex_center " *ngif="next_track">-->

    <!--<div class="popup white_bg">-->
        <!--<div class="popup-head">-->
            <!--<h3 class="popup-title" >下次跟踪时间</h3>-->
        <!--</div>-->
        <!--<div class="popup-body">您正在对该会员人工指定他的跟踪时间，</br>请选择他的下次跟踪时间</div>-->
        <!--<div class="popup-buttons"  (click)="close()" tappable>-->
            <!--<button  class="button  button-default"  >取消</button>-->
            <!--<input type="text" class="yellow time_input" ng-model="pickedDate" mobiscroll-date="datePickerSettings" mobiscroll-instance="datePicker" placeholder="2016-09-09" ng-show="false"/>-->
            <!--<button  class="button  button-positive" style="background-color:#F39801;" (click)="datePicker.show()">确定</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->