<!--会员详情-->
<ion-header class="head_f_white">
  <!--hideBackButton="true"-->
  <ion-navbar>
    <!--<ion-buttons left (click)="goBack()">-->
      <!--<button ion-button clear  ><ion-icon name="ios-arrow-back-outline"></ion-icon></button>-->
    <!--</ion-buttons>-->
    <ion-title>{{customer.customerName}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <div class="relative has-header md_subhead padding">
      <ul class="table_cell">
        <li>{{customer|trackStatusTextPipe}}</li><!--getLastTrackResultText(customer)-->
        <li>{{customer|trackResultTextPipe}}</li><!--AfterTrack(customer)-->
      </ul>
      <div class="table_cell text-center middle" (click)="call(customer)" tappable>
        <div  [ngClass]="customer.contactMobile ? 'md_tel_icon' : 'md_non_tel_icon'" *ngIf="customerService.imgCallShow(customer.status)"></div>
        <!--<img class="img" src="{{customer.contactMobile ?  'img/tel.png': 'img/non_tel.png' }}" *ngIf="customerService.imgCallShow(customer.status)"/>-->
      </div>
    </div>
  </ion-toolbar>
</ion-header>
  <ion-content delegate-handle="record" #content>
    <!--筛选-->
    <ul class="white_bg m_details_track">
      <!--网络不可用时-->
      <p class="net_erro bar-header" *ngIf="!networkSer.isConnected">网络不可用，请检查您的网络设置！</p>
      <li (click)="setManageType()" tappable>管理方式<span  class="fr" tappable>{{customer.trackDateCalcType|trackDateCalcTypePipe}}<!--<ion-icon name="ios-arrow-forward-outline"></ion-icon>--></span></li>
      <li (click)="setTrackStatus()" tappable>是否可跟踪<span  class="fr" tappable>{{customer.status|customerStatusTextPipe}}<!--<ion-icon name="ios-arrow-forward-outline"></ion-icon>--></span></li>
      <!--选择跟踪时间-->
      <li (click)="NextTrack()" tappable>下次跟踪时间
                <span  class="fr">
                    <!--系统管理-->
                    <span *ngIf='getTrackType()===1'>{{customer.nextTrackDate}}</span>
                  <!--人工管理-->
                  <ion-datetime #picker displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="customer.nextTrackDate" min="{{minDate}}"
                                max="{{maxDate}}" cancelText="取消" doneText="完成" mode="ios" [hidden]='getTrackType()!==2' (ionChange)="settrackTime(customer.nextTrackDate)"
                  ></ion-datetime>
                  <!--不可跟踪-->
                    <span *ngIf='getTrackType()===3'>--</span>

                  <!--  <ion-icon name="ios-arrow-forward-outline"></ion-icon>-->
                </span>
      </li>
    </ul>
    <!--会员画像-->
    <div class=" ">
      <div class="bg_left m_draw md_head " >会员画像</div>
      <!--direction="x" 这个一定要写，不然在无法滚动-->
      <ion-scroll  scrollX="true">
        <div class="white_bg padding  draw_scroll">
          <ul class="m_draw_content">
            <li>ta喜欢的类型<span class="fr">{{portraitData.likeClassName?portraitData.likeClassName:"--"}}</span></li>
            <li>ta喜欢的品牌
              <span class="fr relative">
                <span class="likeBrand" (click)="overflow()">{{portraitData.likeBrandName?portraitData.likeBrandName:"--"}}</span>
                <div class="likeBrand-tip" *ngIf="spillOver.show" [ngClass]="spillOver.show ? 'active' : ''">{{portraitData.likeBrandName?portraitData.likeBrandName:"--"}}</div>
              </span>
            </li>
            <li>总消费金额 <span class="fr">{{portraitData.totalPurchaseAmount}}元</span></li>
            <li>总购买次数<span class="fr">{{portraitData.totalPurchaseTimes}}次</span></li>
            <li>客单价<span class="fr">{{portraitData.PCT}}元</span></li>
            <li>现有积分<span class="fr">{{portraitData.score}}</span></li>
          </ul>
          <ul class="m_draw_content">
            <li>最近消费时间：<span class="fr">{{portraitData.lastPurchaseDate  | dataSubstringPipe}}</span></li>
            <li>距上次消费天数：<span class="fr">{{portraitData.notConsumeDays}}天</span></li>
            <li>最近消费： <span class="fr">{{portraitData.lastConsumeQty}}件，{{portraitData.lastConsumeAmount}}元</span></li>
            <li>本月购买频次：<span class="fr">{{portraitData.lastMonthBuyTimes}}次</span></li>
            <li>上次消费门店：<span class="fr">{{portraitData.lastBuyStoreName}}</span></li>
            <li class="text-right"><a (click)="scrollToTop()" class="yellow" tappable>查看具体消费</a></li>
          </ul>
          <ul class="m_draw_content">
            <li>登记时间：<span class="fr">{{portraitData.checkInDate  | dataSubstringPipe}}</span></li>
            <li>登记门店：<span class="fr">{{portraitData.checkInStore}}</span></li>
            <li>登记人员： <span class="fr">{{portraitData.checkInOperator?portraitData.checkInOperator:"--"}}</span></li>
          </ul>
        </div>
      </ion-scroll>
    </div>
    <!--消费结构-->
    <div class="white_bg ">
      <!--消费结构--选择-->
      <ul class="flex_ul head_flex">
        <li [ngClass]="figure == 1 ? 'active' : ''" (click)="echartSelect(1)" tappable>总消费结构</li>
        <li [ngClass]="figure == 2 ? 'active' : ''" (click)="echartSelect(2)" tappable>上次消费结构</li>
        <li [ngClass]="figure == 3 ? 'active' : ''" (click)="echartSelect(3)" tappable>购买频次</li>
      </ul>
      <!--消费图表-->
      <!--正在加载中-->
      <div class="div-charts"  [hidden]="load!==0">
        <p><img src="img/dataLoad.gif" class="img"/></p>
      </div>
      <!--暂无数据-->
      <div class="white_bg text-center non_log " [hidden]="load!==1">
        <p><img src="img/non_record.png" class="img"/></p>
        <p class="color_99">暂无数据</p>
      </div>
      <!--load!==2-->
      <div [hidden]="load!==2">
        <!--总购买结构-->
        <div #container class="div-charts" style="height:300px;" [style.width.px]="width" [hidden]="figure!=1"></div>
        <!--上次购买结构-->
        <div #lastStructContainer class="div-charts" style="height:300px;"  [style.width.px]="width" [hidden]="figure!=2"></div>
        <!--购买频次-->
        <div #buyFrequencyContainer class="div-charts" style="height:300px;" [style.width.px]="width" [hidden]="figure != 3"></div>
      </div>
      <!--消费记录-->
      <div class="padding" id="buyRecord">
        <header class="buyRecord">消费记录</header>
        <!--有多条消费记录-->
        <div>
          <!--具体记录-->
          <div class="border_b p_tb_10" *ngFor="let order of consumeOrder.orders">
            <p class="text_grey_80">{{ order.consumeDate | dataSubstringPipe}} &nbsp;于{{ order.storeName}}购买</p>
            <p>合计购买金额：￥{{order.saleAmount}}</p>
            <ul class="detail_record">
              <li *ngFor="let good of order.goods"><ion-badge color="secondary" *ngIf="good.sellway==='B'">退</ion-badge>{{good.goodsName}} * {{good.quantity}}<span class="fr">￥{{good.saleAmount}}</span></li>
            </ul>
          </div>
          <!--加载更多-->
          <div *ngIf="consumeOrder.orders && consumeOrder.orders.length>0" class="text-center">
            <div *ngIf="!consumeOrder.isEnd" (click)="getConsumeOrder()" class="click_more" tappable>点击加载更多</div>
            <div *ngIf="consumeOrder.isEnd" class="click_more">已经没有更多内容了</div>
          </div>
        </div>
        <!--暂无消费记录-->
        <div *ngIf="!consumeOrder.orders || consumeOrder.orders.length<=0" class="white_bg text-center non_log ">
          <p><img src="img/non_record.png" class="img"/></p>
          <p class="color_99">暂无消费记录</p>
        </div>

      </div>
    </div>
    <!--会员跟踪效果-->
    <div>
      <header class="bg_left m_track_bg md_head">会员跟踪效果</header>
      <!--效果图表-->
      <div class="div-charts"  [hidden]="load!==0">
        <p><img src="img/dataLoad.gif" class="img"/></p>
      </div>
      <!--load!==1-->
      <div class="white_bg text-center non_log " [hidden]="load!==1">
        <p><img src="img/non_record.png" class="img"/></p>
        <p class="color_99">暂无数据</p>
      </div>
      <div class="white_bg" [hidden]="load!==2">
        <div #trackEffect class="div-charts" style="height:300px;"></div>
      </div>
      <!--日志选择-->
      <ul class="white_bg flex_ul head_flex">
        <li [ngClass]="LogSelect===1 ? 'active': ''" (click)="logSelect(1)" tappable>跟踪日志</li>
        <li [ngClass]="LogSelect===2 ? 'active': ''" (click)="logSelect(2)" tappable>操作日志</li>
      </ul>
      <!--跟踪日志-->
      <div *ngIf="LogSelect===1">
          <!--有跟踪日志-->
          <div  *ngIf="trackLog.logs && trackLog.logs.length>0" class="white_bg padding">
            <div *ngFor="let log of trackLog.logs" class="border_b">
            <!--具体跟踪信息-->
              <!--<div class="text_grey_80">{{log.trackDetail.trackDate}} &nbsp;&nbsp;{{log.employeeName}}<span class="fr text_red" *ngIf="log.trackResult===1">未联系上</span></div>-->
            <ul class="track_log_content">
              <li class="{{log.trackDetail.contactType>1 ? 'li_4':'li_5'}}" *ngIf="log.trackDetail.contactType">
                {{log.trackDetail.contactType | contactTypePipe}}，{{log.trackResult>1 ? '联系上':'未联系上'}}
              </li>
              <li class="li_1" *ngIf="log.trackDetail.content">{{log.trackDetail.content}}</li>
              <li class="li_1" *ngIf="log.trackDetail.otherNotContactReason">{{log.trackDetail.otherNotContactReason}}</li>
              <li class="li_1" *ngIf="log.trackDetail.notContactReason<6 && log.trackDetail.notContactReason>0">{{log.trackDetail.notContactReason|notContactReasonPipe }}</li>
              <!--音频-->
              <li class="li_6" *ngIf="log.trackDetail.voiceRecordUrl">
                        <span class="audio_border" (click)="audioplay1(log)" tappable>
                            <img class="img icon_play" src="{{log.audio_is_play ? 'img/play.gif':'img/play.png'}}">
                        </span>
                <span class="audio_duration">{{log.trackDetail.voiceRecordSize | numtotimePipe }}</span>
              </li>
              <li class="li_2"  *ngIf="log.remark">{{log.remark}}</li>
              <li class="li_3" *ngIf="log.trackResult>1">跟踪后{{log.trackResult | trackResultPipe}}
                <span class="fr people_buy" *ngIf="log.orders" (click)="toggleDetail(log)"   [ngClass]="log.showDetail ? 'view_less' :'view_more'" tappable>查看购买</span>
              </li>
            </ul>
            <!--购买信息-->
            <section class="log_detail_content" *ngIf="log.showDetail" >
              <div *ngFor="let order of log.orders" class="dashBorder">
              <h2 class="head ng-binding">消费时间：{{order.consumeDate  | dataSubstringPipe }} &nbsp;&nbsp;总消费金额：￥{{order.saleAmount }}</h2>
              <table class="logTrack_table">
                <thead>
                <tr>
                  <th>商品</th>
                  <th>数量</th>
                  <th>金额</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let good of order.goods">
                  <td class="ng-binding">{{good.goodsName }}</td>
                  <td class="ng-binding">{{good.quantity }}</td>
                  <td class="ng-binding">￥{{good.saleAmount }}</td>
                </tr>
                </tbody>
              </table>
              </div>
            </section>
            <p class="text-right padding-right color_99">{{log.employeeName}}&nbsp;&nbsp;于{{log.trackDetail.trackDate  | dataSubstringPipe}}&nbsp;&nbsp;跟踪&nbsp;&nbsp;</p>
            </div>
            <!--点击加载更多-->
            <div *ngIf="trackLog.logs && trackLog.logs.length>0" class="text-center">
              <div *ngIf="!trackLog.isEnd" (click)="getTrackLog()" padding class="text_grey_80 padding" tappable>点击加载更多</div>
              <div *ngIf="trackLog.isEnd" class="text_grey_80 padding">已经没有更多内容了</div>
            </div>
          </div>
          <!--暂无跟踪日志-->
          <div class="white_bg text-center non_log" *ngIf="!trackLog.logs || trackLog.logs.length<=0">
            <p><img src="img/no_trak.png" class="img"/></p>
            <p class="color_99">暂无跟踪日志</p>
          </div>
      </div>
      <!--操作日志-->
      <div *ngIf="LogSelect===2">
        <!--有操作日志时-->
          <div class="white_bg padding" *ngIf="operateLog.logs && operateLog.logs.length>0">
            <!--具体操作日志-->
            <!--<div class="border_b padding">-->
              <!--<p class="text_grey_80">09-14 &nbsp;&nbsp;11:35 周日&nbsp;&nbsp;吴丽<span class="fr text_red">未联系上</span></p>-->
              <!--<div>管理员 陈店长 将会员 张三丰 从 刘备 分配给 伍丽负责跟踪</div>-->
            <!--</div>-->
            <!--具体操作日志-->
            <div class="border_b padding" *ngFor="let operate of operateLog.logs">
              <p class="text_grey_80">{{operate.operateDate  | dataSubstringPipe}}&nbsp;&nbsp;{{operate.operarteName}}</p>
              <div>{{operate.remark}}</div>
            </div>
            <!--点击加载更多-->
            <div *ngIf="operateLog.logs && operateLog.logs.length>0" class="text-center">
              <div *ngIf="!operateLog.isEnd" (click)="getOperateLog()" class="text_grey_80 padding" tappable>点击加载更多</div>
              <div *ngIf="operateLog.isEnd" class="text_grey_80 padding">已经没有更多内容了</div>
            </div>
          </div>
        <!--暂无操作日志-->
        <div class="white_bg text-center non_log" *ngIf="!operateLog || operateLog.logs.length<=0">
          <p><img src="img/no_trak.png" class="img"/></p>
          <p class="color_99">暂无操作日志</p>
        </div>
      </div>
      <!--点击加载更多-->
      <!--<div class="text-center text_grey_80 padding grey_bg">点击加载更多</div>-->
    </div>

  </ion-content>
<!--</ion-view>-->

<!--人工管理时，修改为可跟踪的下次跟踪时间-->
<div class="pop_panel_h flex_ul flex_center" *ngIf="manModifyPop!=0">
  <div class="PopContent_c text-center">
    <div class="warm_tip alert-head"><img src="img/warm.png" class="img"></div>
    <div class="oT_content alert-message"> <div class="p_tip" >{{manModifyPopText}}<br>下次跟踪时间为：{{manModifyTime}}</div>
      <span ><ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD"   [(ngModel)]="manModifyTime" min="{{minDate}}"
                           max="{{maxDate}}" cancelText="取消"   doneText="完成" mode="ios" class="hide-datetime"
      ></ion-datetime></span>
      <div class="m_d_s_time">我要重新定个时间</div>
    </div>
    <ul class="flex_ul flex_center tip_confirm_btn">
      <li class="text_grey_80" (click)="manModifyPopClose()" tappable>取消</li>
      <li class="yellow ng-binding" (click)="manModifyOk()" tappable>确定</li>
    </ul>
  </div>
</div>

<!--不可跟踪弹窗-->
<div class="pop_panel_h flex_ul flex_center" [hidden]="!nonTrackPop">
  <div class="PopContent_c text-center">
    <div class="warm_tip alert-head"><img src="img/warm.png" class="img"></div>
    <div class="oT_content alert-message">
      <div class="p_tip" >您确定将该会员修改为不可跟踪？</div>
      <textarea id="unTrackReason" placeholder="请输入改为不可跟踪的原因" class="nonTrackTextarea" [(ngModel)]="remark"></textarea>
    </div>
    <ul class="flex_ul flex_center tip_confirm_btn">
      <li class="text_grey_80" (click)="nonTrackPopClose()" tappable>取消</li>
      <li class="yellow ng-binding" (click)="nonTrackPopOk()" tappable>确定</li>
    </ul>
  </div>
</div>
<!--音频-->
<div class="bg_grey audio_pr_main"  [hidden]="!show_audio.is_show">
  <audio id="audio" preload="auto" src="{{show_audio.src}}" autoplay></audio>
  <p class="text-center padding ng-binding">
    <span id="curr">{{show_audio.played_time | numtotimePipe}}</span>/ {{show_audio.all_time_length | numtotimePipe}}
    <span class="audio_close" (click)="audio_close()" tappable>
            <img src="img/audio_close.png" class="img1">
        </span>
  </p>
  <div class="audio_process_panel" (swipe)="tapEvent($event)" (click)="itemTapped($event)" (drag)="Test($event)" tappable>
    <div class="audio_process" id="audio_process">
      <!--<div class="audio_process" id="audio_process" style="width:'{{porocessWidth}}';">-->
      <span (click)="audioplay2()"  class="after" tappable>
                <img class="audiPlayIcon" src="{{show_audio.audiPlayIcon}}" >
            </span>
    </div>
  </div>


</div>