page-tracking-log {
 .toolbar-content .searchbar-input-container  .searchbar-input{height: 32px;border-radius:17px;font-size: 16px;padding-left: 36px;}
 .searchbar-input-container .searchbar-search-icon{top: 7px;width: 19px;height: 19px;background-size: 19px;}




 }
